In [3]:
print ('Hello World')

Hello World

In [ ]:
public class Tes 
{
    public static void main (String [] args)
    {
        System.out.println("Hello World");
    }
}

In [8]:
10_n = 400
print (10_n+1)

SyntaxError: invalid token (<ipython-input-8-363d76821f93>, line 1)

In [9]:
print (8%3)

2

In [ ]:
8 = 3*2+2

In [ ]:
10 % 6 --> 4

In [ ]:
10 = 6*1+4

In [10]:
print (4*'foo..')

foo..foo..foo..foo..

In [11]:
a = ['foo', 'bar', 'baz', 'qux']

print(a)

['foo', 'bar', 'baz', 'qux']

In [12]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

In [13]:
a [3]

4

In [16]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

a[0:4]

['foo', 'bar', 'baz', 'qux']

In [17]:
print(a)

print(a + ['grault', 'garply'])

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']

In [18]:
print (a*2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [19]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a)

a[2] = 10
a[-1] = 20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [20]:
del a[3]

In [21]:
print (a)

['foo', 'bar', 10, 'quux', 20]

In [22]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

In [24]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

print(t)

t [1] = 'new item'

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

TypeError: 'tuple' object does not support item assignment

In [25]:
MLB_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners'
}

In [26]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

Twins
Rockies

In [27]:
MLB_team['Kansas City'] = 'Royals'

In [29]:
del MLB_team['Seattle']

In [30]:
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

In [31]:
# Built-in Methods
d = {'a': 10, 'b': 20, 'c': 30}

# items
print(d.items())

# keys
print(d.keys())

# values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])